apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ hostvars[groups['loadbalancer'][0]].host_fqdn if ( configurable.k8s.control_plane.vms > 1 ) else hostvars[groups['control_planes'][0]].host_fqdn }}:6443"
    token: "{{ hostvars[groups['control_planes'][0]].kube_token }}"
    caCertHashes:
    - "{{ hostvars[groups['control_planes'][0]].kube_hash }}"
