all:
  children:
    control_planes:
      hosts:
        {{ configurable.k8s.cluster_name }}-cp[1:{{ configurable.k8s.control_plane.vms }}].{{ configurable.libvirt.network.domain }}:
          ansible_user: ubuntu
          ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q {{ vm_host.domain }}"'
        
    nodes:
      hosts:
        {{ configurable.k8s.cluster_name }}-node[1:{{ configurable.k8s.node.vms }}].{{ configurable.libvirt.network.domain }}:
          ansible_user: ubuntu
          ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q {{ vm_host.domain }}"'

    loadbalancer:
      hosts:
        {{ configurable.k8s.cluster_name }}-loadbalancer.{{ configurable.libvirt.network.domain }}:
          ansible_user: ubuntu
          ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q {{ vm_host.domain }}"'
