#!/bin/bash
scp HomeLan:/home/hanapedia/.kube/config ~/.kube/new;
cp ~/.kube/config ~/.kube/configs/pre_{{ configurable.k8s.cluster_name }};
cp ~/.kube/new ~/.kube/configs/{{ configurable.k8s.cluster_name }};
mv ~/.kube/new ~/.kube/config;
